{% extends 'catalog/base.html' %}
{% block content %}
<div class="row text-center">
    {% for object in object_list %}
    <div class="col-6">
        <div class="card h-100 mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ object }}</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">{{ object.price }} руб.</h1>
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>{{ object.description }}</li>
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}