{% extends 'catalog/base.html' %}
{% load image_filter %}
{% block content %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">{{ object_list.name|title }}</th>
      <th scope="col">О продукте</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td><img class="card-img-top" src="{{ object_list.image| mymedia }}" ></td>

    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
    </tr>
  </tbody>
</table>
{% endblock %}