{% extends 'catalog/base.html' %}
{% block content %}
<div col="12">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Skystore</h1>
    <p class="lead">Форма по добавлению продукта</p>
</div>
    {% load crispy_forms_tags %}
    <form class="row" method="post" enctype="multipart/form-data">
        <div col="6">
            {% csrf_token %}
            {{ form.as_p|crispy }}<br>
            <button class="p-2 btn btn-outline-primary" type="submit">добавить продукт</button>
        </div>
        <div col="6"><br><br>
            {{ formset.management_form|crispy }}
            {% for form in formset.forms %}
            {{ form.as_p }}
            {% endfor %}
        </div>
    </form>
</div>

{% endblock %}